{% load static %}

<div id="modal" class="modal">

  <div class="modal-content">

    <span class="close"><i class="bi bi-x"></i></span>

    <div class="logo">
      <img src="{% static "icons/Logo.svg" %}" alt="Apollo Hotel">
    </div>

    <form>

      <!-- Nome -->
      <div class="form-group">
        <label>Nome Completo</label>
        <input type="text" placeholder="Digite aqui">
      </div>

      <!-- Datas -->
      <div class="form-row">
        <div class="form-group">
          <label>Data de entrada</label>
          <input type="date">
        </div>

        <div class="form-group">
          <label>Data de saída</label>
          <input type="date">
        </div>
      </div>

      <!-- Categoria -->
      <div class="form-group">
        <label>Categoria de acomodação</label>
        <select>
          <option>Suíte Prince</option>
          <option>Casal</option>
          <option>Solteiro</option>
        </select>
      </div>

      <!-- Pessoas -->
      <div class="form-row">
        <div class="form-group">
          <label>Adultos</label>
          <input type="number" value="2">
        </div>

        <div class="form-group">
          <label>Crianças</label>
          <input type="number" value="0">
        </div>
      </div>

      <button class="btn">Fazer Reserva</button>

    </form>

  </div>

</div>