{% extends 'base.html' %}
{% load static %}

{% block title %} <title>Home</title> {% endblock %}


{% block styles %} <link rel="stylesheet" href="{% static 'css/home.css' %}"> {% endblock %}

    {% block content %}
    <div class="main-container">
        
    <!-- ================= HERO ================= -->
     <section class="hero" style="background-image: url('{{ home.image.url }}'); background-position: center; background-size: cover; background-repeat: no-repeat;">
       <div class="hero-overlay">
         <h1>Seu próximo hotel favorito</h1>
         <p>No coração de Mônaco, torne sua viagem inesquecível</p>
         <a href="{% url 'reservations' %}" class="btn-primary">Fazer Reserva</a>
       </div>
     </section>

     <!-- ================= DESTAQUES ================= -->
     <section class="beneficios">
        
        <h2>Aproveite o melhor de Mônaco</h2>
        <div class="cards-beneficios">
        {% for highlight in highlights %}
          <div class="card-beneficio">
            <img src="{{ highlight.image.url }}" alt="Conforto" />
            <span>{{ highlight.subtitle }}</span>
          </div>
          {% endfor %}
        </div>
     </section>

     <!-- ================= PACOTES ================= -->
     <section class="pacotes" style="background-image: url('{{ package_bg.image.url }}'); background-position: center; background-size: cover; background-repeat: no-repeat;">
       <div class="pacotes-content">
         <div class="pacotes-texto">
           <h2>Conheça nossos pacotes especiais</h2>
           <p>Descubra várias oportunidades com até 30% de desconto!</p>
           <a href="#" class="btn-primary">Saiba mais</a>
         </div>
         <div class="pacotes-imagens">
         {% for package in packages %}
           <img src="{{ package.image.url }}"/>
           {% endfor %}
          </div>
       </div>
     </section>

     <!-- ================= GALERIA ================= -->
     <section class="galeria">
       <h2>Galeria</h2>

       <div class="galeria-slider">
         <button class="arrow left" id="prev">&#10094;</button>

         <div class="slider-container">
           <div class="slider-track" id="sliderTrack">
            {% for galery in gallery %} 
            <div class="slide">
              <img src="{{ galery.image.url }}" />
              <span>{{ galery.description }}</span>
            </div>
            {% endfor %}
           </div>
         </div>

         <button class="arrow right" id="next">&#10095;</button>
       </div>

       <div class="dots" id="dots"></div>
     </section>


    </div>
    {% endblock %}


